<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Page Financiére</title>
        <link rel="stylesheet" href="./assets/css/style.css"/>
    </head>
    <body>
        <div class="animated-bg"></div>

        <div class="floating-shape shape1"></div>
        <div class="floating-shape shape2"></div>
        <div class="floating-shape shape3"></div>
        <div class="floating-shape shape4"></div>
        <div class="floating-shape shape5"></div>
        <div class="bord">
            <div class="logo_area">
                <img src="../images/logo.png" alt="logo" height="50" width="65">
            </div>
            <div class="slogon">
                <h1>GreenSecure</h1>
                <p>SLOGON</p>
            </div>
            <div class="links_area">
                <a href="#finance">Offre</a>
                <a href="#declaration">Declaration</a>
                <a href="#contacts">Contact</a>
            </div>
            <button type="button" name="sign-in">Sign up</button>
        </div>
        <div class="choix" id="finance">
            <h1>Choisir le type d'assurance</h1>
            <div class="card">
                <img src="../images/ass-automobile.jpg" alt="image">
                <h2>Assurance de voiture</h2>
                <p>Une assurance automobile qui vous protège contre les imprévus de la route.
                    Elle couvre les dommages causés à votre véhicule ainsi qu’aux tiers en cas d’accident.
                </p>
                <button type="button" name="click">click</button>
            </div>
            <div class="card">
                <img src="../images/Assurance-habitation.jpeg" alt="image">
                <h2>Assurance d'habitation</h2>
                <p>Protégez votre maison et vos biens contre les risques du quotidien
                    Cette assurance couvre les dommages liés aux incendies, dégâts des eaux, vols ou catastrophes naturelles.
                </p>
                <button type="button" name="click">click</button>
            </div>
            <div class="card">
                <img src="../images/Assurance-vie.png" alt="image">
                <h2>Assurance de Vie</h2>
                <p>Une solution essentielle pour sécuriser l’avenir de vos proches.
                    L’assurance vie permet de constituer une épargne à long terme tout en 
                    garantissant un capital ou une rente en cas de décès ou d’événements imprévus.
                </p>
                <button type="button" name="click">click</button>
            </div>
        </div>
        <div class="contacts" id="contacts">
            <p>📍 Tunis, Tunisie &nbsp;</p>
            <p>&nbsp;📞 +216 70 123 456 &nbsp;|&nbsp; ✉️ contact@greensecure.tn</p>
        </div>
    </body>
</html>