<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Page Financiére</title>
    </head>
    <body>
        <h1>GreenSecure</h1>
        <img src="images/logo.png" alt="logo" height="150" width="200">
        <nav class="nav">
            <a href="#finance">Offre</a>
            <a href="#declaration">Declaration</a>
        </nav>
        <section id="finance">
            <h1>Choisir le type d'assurance</h1>
            <img src="images/ass-automobile.jpg" alt="image" height="500" width="650">
            <h2>Assurance de voiture</h2>
            <p>Une assurance automobile qui vous protège contre les imprévus de la route.
                Elle couvre les dommages causés à votre véhicule ainsi qu’aux tiers en cas d’accident.
            </p>

            <img src="images/Assurance-habitation.jpeg" alt="image" height="500" width="650">
            <h2>Assurance d'habitation</h2>
            <p>Protégez votre maison et vos biens contre les risques du quotidien
                Cette assurance couvre les dommages liés aux incendies, dégâts des eaux, vols ou catastrophes naturelles.
            </p>
            
            <img src="images/Assurance-vie.png" alt="image" height="500" width="650">
            <h2>Assurance de Vie</h2>
            <p>Une solution essentielle pour sécuriser l’avenir de vos proches.
                L’assurance vie permet de constituer une épargne à long terme tout en 
                garantissant un capital ou une rente en cas de décès ou d’événements imprévus.
            </p>
        </section>
    </body>
</html>